<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <script src="/static/index.js"></script>
    <link rel="stylesheet" href="/static/index.css" />
</head>
<body>
<div class="container">
    <h1 class="title">URL Shortener</h1>
    <div class="input-group">
        <form id="shortener-form">
            <input type="text" name="shorten-url" placeholder="Enter the URL to shorten" required/>
            <button class="copy-button" id="copy-button" type="button" style="display: none">Copy Shortened Link</button>
            <button type="submit">Shorten</button>
        </form>
    </div>
</div>

<div class="container bottom">
    <h1 class="title">Reveal Original URL</h1>
    <div class="input-group">
        <form id="revealer-form">
            <input type="text" name="reveal-url" placeholder="Enter shortened URL" required/>
            <input type="text" id="original-url" style="display: none" readonly/>
            <button>Reveal</button>
        </form>
    </div>
</div>
</body>
</html>
